biblio/biblio-webapp/src/main/java/org/lle/biblio/webapp/generated/BiblioService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.biblio.lle.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.biblio.lle.org/" name="BiblioService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.biblio.lle.org/" schemaLocation="http://localhost:8080/biblio/api/BiblioService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLocation">
<part name="parameters" element="tns:getLocation"/>
</message>
<message name="getLocationResponse">
<part name="parameters" element="tns:getLocationResponse"/>
</message>
<message name="setLogin">
<part name="parameters" element="tns:setLogin"/>
</message>
<message name="setLoginResponse">
<part name="parameters" element="tns:setLoginResponse"/>
</message>
<message name="getLogin">
<part name="parameters" element="tns:getLogin"/>
</message>
<message name="getLoginResponse">
<part name="parameters" element="tns:getLoginResponse"/>
</message>
<message name="DoLogin">
<part name="parameters" element="tns:DoLogin"/>
</message>
<message name="DoLoginResponse">
<part name="parameters" element="tns:DoLoginResponse"/>
</message>
<message name="getPassword">
<part name="parameters" element="tns:getPassword"/>
</message>
<message name="getPasswordResponse">
<part name="parameters" element="tns:getPasswordResponse"/>
</message>
<message name="setPassword">
<part name="parameters" element="tns:setPassword"/>
</message>
<message name="setPasswordResponse">
<part name="parameters" element="tns:setPasswordResponse"/>
</message>
<portType name="BiblioService">
<operation name="getLocation">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationRequest" message="tns:getLocation"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationResponse" message="tns:getLocationResponse"/>
</operation>
<operation name="setLogin">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/setLoginRequest" message="tns:setLogin"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/setLoginResponse" message="tns:setLoginResponse"/>
</operation>
<operation name="getLogin">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/getLoginRequest" message="tns:getLogin"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/getLoginResponse" message="tns:getLoginResponse"/>
</operation>
<operation name="DoLogin">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginRequest" message="tns:DoLogin"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginResponse" message="tns:DoLoginResponse"/>
</operation>
<operation name="getPassword">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/getPasswordRequest" message="tns:getPassword"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/getPasswordResponse" message="tns:getPasswordResponse"/>
</operation>
<operation name="setPassword">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/setPasswordRequest" message="tns:setPassword"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/setPasswordResponse" message="tns:setPasswordResponse"/>
</operation>
</portType>
<binding name="BiblioServicePortBinding" type="tns:BiblioService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BiblioService">
<port name="BiblioServicePort" binding="tns:BiblioServicePortBinding">
<soap:address location="http://localhost:8080/biblio/api/BiblioService"/>
</port>
</service>
</definitions>