biblio/biblio-webapp/src/main/java/org/lle/biblio/webapp/generated/BiblioService8.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.biblio.lle.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.biblio.lle.org/" name="BiblioService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.biblio.lle.org/" schemaLocation="http://localhost:8080/biblio/api/BiblioService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLocation">
<part name="parameters" element="tns:getLocation"/>
</message>
<message name="getLocationResponse">
<part name="parameters" element="tns:getLocationResponse"/>
</message>
<message name="getLivre">
<part name="parameters" element="tns:getLivre"/>
</message>
<message name="getLivreResponse">
<part name="parameters" element="tns:getLivreResponse"/>
</message>
<message name="DoListLivre">
<part name="parameters" element="tns:DoListLivre"/>
</message>
<message name="DoListLivreResponse">
<part name="parameters" element="tns:DoListLivreResponse"/>
</message>
<message name="NotFoundException">
<part name="fault" element="tns:NotFoundException"/>
</message>
<message name="addLocation">
<part name="parameters" element="tns:addLocation"/>
</message>
<message name="addLocationResponse">
<part name="parameters" element="tns:addLocationResponse"/>
</message>
<message name="DoResultLivre">
<part name="parameters" element="tns:DoResultLivre"/>
</message>
<message name="DoResultLivreResponse">
<part name="parameters" element="tns:DoResultLivreResponse"/>
</message>
<message name="getAuteur">
<part name="parameters" element="tns:getAuteur"/>
</message>
<message name="getAuteurResponse">
<part name="parameters" element="tns:getAuteurResponse"/>
</message>
<message name="DoLogin">
<part name="parameters" element="tns:DoLogin"/>
</message>
<message name="DoLoginResponse">
<part name="parameters" element="tns:DoLoginResponse"/>
</message>
<message name="getListLocation">
<part name="parameters" element="tns:getListLocation"/>
</message>
<message name="getListLocationResponse">
<part name="parameters" element="tns:getListLocationResponse"/>
</message>
<message name="getExemplaire">
<part name="parameters" element="tns:getExemplaire"/>
</message>
<message name="getExemplaireResponse">
<part name="parameters" element="tns:getExemplaireResponse"/>
</message>
<message name="addProlo">
<part name="parameters" element="tns:addProlo"/>
</message>
<message name="addProloResponse">
<part name="parameters" element="tns:addProloResponse"/>
</message>
<message name="getLivrelocation">
<part name="parameters" element="tns:getLivrelocation"/>
</message>
<message name="getLivrelocationResponse">
<part name="parameters" element="tns:getLivrelocationResponse"/>
</message>
<portType name="BiblioService">
<operation name="getLocation">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationRequest" message="tns:getLocation"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationResponse" message="tns:getLocationResponse"/>
</operation>
<operation name="getLivre">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreRequest" message="tns:getLivre"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreResponse" message="tns:getLivreResponse"/>
</operation>
<operation name="DoListLivre">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivreRequest" message="tns:DoListLivre"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivreResponse" message="tns:DoListLivreResponse"/>
<fault message="tns:NotFoundException" name="NotFoundException" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivre/Fault/NotFoundException"/>
</operation>
<operation name="addLocation">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/addLocationRequest" message="tns:addLocation"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/addLocationResponse" message="tns:addLocationResponse"/>
</operation>
<operation name="DoResultLivre">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivreRequest" message="tns:DoResultLivre"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivreResponse" message="tns:DoResultLivreResponse"/>
<fault message="tns:NotFoundException" name="NotFoundException" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivre/Fault/NotFoundException"/>
</operation>
<operation name="getAuteur">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/getAuteurRequest" message="tns:getAuteur"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/getAuteurResponse" message="tns:getAuteurResponse"/>
</operation>
<operation name="DoLogin">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginRequest" message="tns:DoLogin"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginResponse" message="tns:DoLoginResponse"/>
</operation>
<operation name="getListLocation">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/getListLocationRequest" message="tns:getListLocation"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/getListLocationResponse" message="tns:getListLocationResponse"/>
</operation>
<operation name="getExemplaire">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/getExemplaireRequest" message="tns:getExemplaire"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/getExemplaireResponse" message="tns:getExemplaireResponse"/>
</operation>
<operation name="addProlo">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/addProloRequest" message="tns:addProlo"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/addProloResponse" message="tns:addProloResponse"/>
</operation>
<operation name="getLivrelocation">
<input wsam:Action="http://service.biblio.lle.org/BiblioService/getLivrelocationRequest" message="tns:getLivrelocation"/>
<output wsam:Action="http://service.biblio.lle.org/BiblioService/getLivrelocationResponse" message="tns:getLivrelocationResponse"/>
</operation>
</portType>
<binding name="BiblioServicePortBinding" type="tns:BiblioService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoListLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="addLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoResultLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getAuteur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExemplaire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLivrelocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BiblioService">
<port name="BiblioServicePort" binding="tns:BiblioServicePortBinding">
<soap:address location="http://localhost:8080/biblio/api/BiblioService"/>
</port>
</service>
</definitions>