wsdl/BiblioService.xml

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="BiblioService" targetNamespace="http://service.biblio.lle.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.biblio.lle.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
<types>
<xsd:schema>
<xsd:import schemaLocation="http://localhost:8080/biblio/api/BiblioService?xsd=1" namespace="http://service.biblio.lle.org/"/>
</xsd:schema>
</types>
<message name="setPassword">
<part name="parameters" element="tns:setPassword"/>
</message>
<message name="setPasswordResponse">
<part name="parameters" element="tns:setPasswordResponse"/>
</message>
<message name="getPassword">
<part name="parameters" element="tns:getPassword"/>
</message>
<message name="getPasswordResponse">
<message name="getLogin">
<part name="parameters" element="tns:getLogin"/>
</message>
<message name="getLoginResponse">
<part name="parameters" element="tns:getLoginResponse"/>
</message>
<message name="DoLogin">
<part name="parameters" element="tns:DoLogin"/>
</message>
<message name="DoLoginResponse">
<part name="parameters" element="tns:DoLoginResponse"/>
</message>
<message name="setLogin">
<part name="parameters" element="tns:setLogin"/>
</message>
<message name="setLoginResponse">
<part name="parameters" element="tns:setLoginResponse"/>
</message>
<portType name="BiblioService">
<operation name="setPassword">
<input message="tns:setPassword" wsam:Action="http://service.biblio.lle.org/BiblioService/setPasswordRequest"/>
<output message="tns:setPasswordResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/setPasswordResponse"/>
</operation>
<operation name="getPassword">
<input message="tns:getPassword" wsam:Action="http://service.biblio.lle.org/BiblioService/getPasswordRequest"/>
<output message="tns:getPasswordResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getPasswordResponse"/>
</operation>
<operation name="getLogin">
<input message="tns:getLogin" wsam:Action="http://service.biblio.lle.org/BiblioService/getLoginRequest"/>
<output message="tns:getLoginResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLoginResponse"/>
</operation>
<operation name="DoLogin">
<input message="tns:DoLogin" wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginRequest"/>
<output message="tns:DoLoginResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginResponse"/>
</operation>
<operation name="setLogin">
<input message="tns:setLogin" wsam:Action="http://service.biblio.lle.org/BiblioService/setLoginRequest"/>
<output message="tns:setLoginResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/setLoginResponse"/>
</operation>
</portType>
<binding name="BiblioServicePortBinding" type="tns:BiblioService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="setPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BiblioService">
<port name="BiblioServicePort" binding="tns:BiblioServicePortBinding">
<soap:address location="http://localhost:8080/biblio/api/BiblioService"/>
</port>
</service>
</definitions>