wsdl/BiblioService.xml

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="BiblioService" targetNamespace="http://service.biblio.lle.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.biblio.lle.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
<types>
<xsd:schema>
<xsd:import schemaLocation="http://localhost:8080/biblio/api/BiblioService?xsd=1" namespace="http://service.biblio.lle.org/"/>
</xsd:schema>
</types>
<message name="getLocation">
<part name="parameters" element="tns:getLocation"/>
</message>
<message name="getLocationResponse">
<part name="parameters" element="tns:getLocationResponse"/>
</message>
<message name="DoListLivre">
<message name="DoListLivreResponse">
<message name="NotFoundException">
<part name="fault" element="tns:NotFoundException"/>
</message>
<message name="getLivre">
<part name="parameters" element="tns:getLivre"/>
</message>
<message name="getLivreResponse">
<part name="parameters" element="tns:getLivreResponse"/>
</message>
<message name="listLocation">
<part name="parameters" element="tns:listLocation"/>
</message>
<message name="listLocationResponse">
<part name="parameters" element="tns:listLocationResponse"/>
</message>
<message name="addLocation">
<part name="parameters" element="tns:addLocation"/>
</message>
<message name="addLocationResponse">
<part name="parameters" element="tns:addLocationResponse"/>
</message>
<message name="getExemplaire">
<part name="parameters" element="tns:getExemplaire"/>
</message>
<message name="getExemplaireResponse">
<part name="parameters" element="tns:getExemplaireResponse"/>
</message>
<message name="DoResultLivre">
<part name="parameters" element="tns:DoResultLivre"/>
</message>
<message name="DoResultLivreResponse">
<part name="parameters" element="tns:DoResultLivreResponse"/>
</message>
<message name="getListLocation">
<part name="parameters" element="tns:getListLocation"/>
</message>
<message name="getListLocationResponse">
<part name="parameters" element="tns:getListLocationResponse"/>
</message>
<message name="addProlo">
<part name="parameters" element="tns:addProlo"/>
</message>
<message name="addProloResponse">
<part name="parameters" element="tns:addProloResponse"/>
</message>
<message name="DoLogin">
<part name="parameters" element="tns:DoLogin"/>
</message>
<message name="DoLoginResponse">
<part name="parameters" element="tns:DoLoginResponse"/>
</message>
<message name="getUtilisateur">
<part name="parameters" element="tns:getUtilisateur"/>
</message>
<message name="getUtilisateurResponse">
<part name="parameters" element="tns:getUtilisateurResponse"/>
</message>
<message name="getAuteur">
<part name="parameters" element="tns:getAuteur"/>
</message>
<message name="getAuteurResponse">
<part name="parameters" element="tns:getAuteurResponse"/>
</message>
<message name="getLivrelocation">
<part name="parameters" element="tns:getLivrelocation"/>
</message>
<message name="getLivrelocationResponse">
<part name="parameters" element="tns:getLivrelocationResponse"/>
</message>
<portType name="BiblioService">
<operation name="getLocation">
<input message="tns:getLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationRequest"/>
<output message="tns:getLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationResponse"/>
</operation>
<operation name="DoListLivre">
<input message="tns:DoListLivre" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivreRequest"/>
<output message="tns:DoListLivreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivreResponse"/>
<fault name="NotFoundException" message="tns:NotFoundException" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivre/Fault/NotFoundException"/>
</operation>
<operation name="getLivre">
<input message="tns:getLivre" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreRequest"/>
<output message="tns:getLivreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreResponse"/>
</operation>
<operation name="listLocation">
<input message="tns:listLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/listLocationRequest"/>
<output message="tns:listLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/listLocationResponse"/>
</operation>
<operation name="addLocation">
<input message="tns:addLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/addLocationRequest"/>
<output message="tns:addLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/addLocationResponse"/>
</operation>
<operation name="getExemplaire">
<input message="tns:getExemplaire" wsam:Action="http://service.biblio.lle.org/BiblioService/getExemplaireRequest"/>
<output message="tns:getExemplaireResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getExemplaireResponse"/>
</operation>
<operation name="DoResultLivre">
<input message="tns:DoResultLivre" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivreRequest"/>
<output message="tns:DoResultLivreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivreResponse"/>
<fault name="NotFoundException" message="tns:NotFoundException" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivre/Fault/NotFoundException"/>
</operation>
<operation name="getListLocation">
<input message="tns:getListLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/getListLocationRequest"/>
<output message="tns:getListLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getListLocationResponse"/>
</operation>
<operation name="addProlo">
<input message="tns:addProlo" wsam:Action="http://service.biblio.lle.org/BiblioService/addProloRequest"/>
<output message="tns:addProloResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/addProloResponse"/>
</operation>
<operation name="DoLogin">
<input message="tns:DoLogin" wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginRequest"/>
<output message="tns:DoLoginResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginResponse"/>
</operation>
<operation name="getUtilisateur">
<input message="tns:getUtilisateur" wsam:Action="http://service.biblio.lle.org/BiblioService/getUtilisateurRequest"/>
<output message="tns:getUtilisateurResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getUtilisateurResponse"/>
</operation>
<operation name="getAuteur">
<input message="tns:getAuteur" wsam:Action="http://service.biblio.lle.org/BiblioService/getAuteurRequest"/>
<output message="tns:getAuteurResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getAuteurResponse"/>
</operation>
<operation name="getLivrelocation">
<input message="tns:getLivrelocation" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivrelocationRequest"/>
<output message="tns:getLivrelocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivrelocationResponse"/>
</operation>
</portType>
<binding type="tns:BiblioService" name="BiblioServicePortBinding">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoListLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExemplaire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoResultLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getListLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUtilisateur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAuteur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLivrelocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BiblioService">
<port name="BiblioServicePort" binding="tns:BiblioServicePortBinding">
<soap:address location="http://localhost:8080/biblio/api/BiblioService"/>
</port>
</service>
</definitions>