wsdl/BiblioService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="BiblioService" targetNamespace="http://service.biblio.lle.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.biblio.lle.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
<types>
<xsd:schema>
<xsd:import schemaLocation="http://localhost:8080/biblio/api/BiblioService?xsd=1" namespace="http://service.biblio.lle.org/"/>
</xsd:schema>
</types>
<message name="getLocation">
<part name="parameters" element="tns:getLocation"/>
</message>
<message name="getLocationResponse">
<part name="parameters" element="tns:getLocationResponse"/>
</message>
<message name="DoListLivre">
<part name="parameters" element="tns:DoListLivre"/>
</message>
<message name="DoListLivreResponse">
<part name="parameters" element="tns:DoListLivreResponse"/>
</message>
<message name="NotFoundException">
<part name="fault" element="tns:NotFoundException"/>
</message>
<message name="DoLogin">
<part name="parameters" element="tns:DoLogin"/>
</message>
<message name="DoLoginResponse">
<part name="parameters" element="tns:DoLoginResponse"/>
</message>
<message name="getAuteur">
<part name="parameters" element="tns:getAuteur"/>
</message>
<message name="getAuteurResponse">
<part name="parameters" element="tns:getAuteurResponse"/>
</message>
<message name="DoResultLivre">
<part name="parameters" element="tns:DoResultLivre"/>
</message>
<message name="DoResultLivreResponse">
<part name="parameters" element="tns:DoResultLivreResponse"/>
</message>
<message name="getLivre">
<part name="parameters" element="tns:getLivre"/>
</message>
<message name="getLivreResponse">
<part name="parameters" element="tns:getLivreResponse"/>
</message>
<portType name="BiblioService">
<operation name="getLocation">
<input message="tns:getLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationRequest"/>
<output message="tns:getLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationResponse"/>
</operation>
<operation name="DoListLivre">
<input message="tns:DoListLivre" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivreRequest"/>
<output message="tns:DoListLivreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivreResponse"/>
<fault name="NotFoundException" message="tns:NotFoundException" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivre/Fault/NotFoundException"/>
</operation>
<operation name="DoLogin">
<input message="tns:DoLogin" wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginRequest"/>
<output message="tns:DoLoginResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginResponse"/>
</operation>
<operation name="getAuteur">
<input message="tns:getAuteur" wsam:Action="http://service.biblio.lle.org/BiblioService/getAuteurRequest"/>
<output message="tns:getAuteurResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getAuteurResponse"/>
</operation>
<operation name="DoResultLivre">
<input message="tns:DoResultLivre" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivreRequest"/>
<output message="tns:DoResultLivreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivreResponse"/>
<fault name="NotFoundException" message="tns:NotFoundException" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivre/Fault/NotFoundException"/>
</operation>
<operation name="getLivre">
<input message="tns:getLivre" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreRequest"/>
<output message="tns:getLivreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreResponse"/>
</operation>
</portType>
<binding name="BiblioServicePortBinding" type="tns:BiblioService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoListLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="DoLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAuteur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoResultLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BiblioService">
<port name="BiblioServicePort" binding="tns:BiblioServicePortBinding">
<soap:address location="http://localhost:8080/biblio/api/BiblioService"/>
</port>
</service>
</definitions>